<div class="card" style="margin-top: 3em;">
  <div class="card-content">
    <span class="card-title">
      <%= @memo.title %>
    </span>
    <%= simple_format @memo.body %>

    <div class="card-action">
      <%= link_to 'LIST', memos_path %>
      <%= link_to 'UPDATE', edit_memo_path(@memo) %>
      <%= link_to 'DELETE',
        memo_path(@memo),
        method: :delete,
        data: {confirm: '本当に削除していいですか？'}
      %>
    </div>
  </div>
</div>
