<!DOCTYPE html>
<html>
  <head>
    <title>LetsDaily</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'ダッシュボード', dashboards_path %>
          <%= link_to 'サインアウト', signout_path %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
